.main {
  margin: 0;
  text-align: center;
  line-height: 1.7;
}
.bryllupkat {
  margin-top: 5em;
}
.firmakat {
  margin-top: 5em;
}
.fodskat {
  margin-top: 5em;
}
.tekst {
  margin: 2em;
  margin-bottom: 4em;
}
.knapkat {
  padding: 0.4em 2em;
  background-color: #96bdea;
  border: none;
  margin-top: 2em;
  text-decoration: none;
  color: black;
}
.skrader {
  margin-bottom: 7em;
}
.slider {
  position: relative;
  width: 100%;
  max-width: 700px;
  height: 400px;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
  border: 3px solid #96bdea;
}

.images input {
  display: none;
}

.images img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.images img:first-of-type {
  opacity: 1;
}

#img2:checked ~ .m2 {
  opacity: 1;
}
#img3:checked ~ .m3 {
  opacity: 1;
}
#img4:checked ~ .m4 {
  opacity: 1;
}
#img5:checked ~ .m5 {
  opacity: 1;
}
#img6:checked ~ .m6 {
  opacity: 1;
}
#img7:checked ~ .m7 {
  opacity: 1;
}

.dots {
  position: relative;
  text-align: center;
  margin-top: 15px;
}

.dots label {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: solid black 1px;
  cursor: pointer;
  transition: all 0.15s ease;
  margin: 5px;
}

.dots label:hover {
  background: rgba(166, 198, 229, 0.95);
}
.Gallery {
  padding-bottom: 2em;
}

.hero {
  position: relative;
  height: 80vh;
  width: 100%;
  overflow: hidden;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}

.hero-content {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  color: #96bdea;
}

.hero-title {
  font-size: 5rem;
  letter-spacing: 0.2em;
  color: #96bdea;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  font-family: "Instrument Serif", serif;
}

@media (min-width: 800px) {
  html,
  .main {
    text-align: center;

    line-height: 1.7;
  }

  .bryllupkat {
    margin-top: 5em;
  }
  .firmakat {
    margin-top: 5em;
  }
  .fodskat {
    margin-top: 5em;
  }
  .tekst {
    margin: 2em;
    margin-bottom: 2em;
  }
  .knapkat {
    padding: 0.4em 2em;
    background-color: #96bdea;
    border: none;
    text-decoration: none;
    color: black;
  }

  .slider {
    position: relative;
    width: 100%;
    max-width: 700px;
    height: 400px;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    border: 3px solid #96bdea;
  }

  .images input {
    display: none;
  }

  .images img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease;
  }

  .images img:first-of-type {
    opacity: 1;
  }

  #img2:checked ~ .m2 {
    opacity: 1;
  }
  #img3:checked ~ .m3 {
    opacity: 1;
  }
  #img4:checked ~ .m4 {
    opacity: 1;
  }
  #img5:checked ~ .m5 {
    opacity: 1;
  }
  #img6:checked ~ .m6 {
    opacity: 1;
  }
  #img7:checked ~ .m7 {
    opacity: 1;
  }

  .dots {
    position: relative;
    text-align: center;
    margin-top: 15px;
  }

  .dots label {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: solid black 1px;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 5px;
  }

  .dots label:hover {
    background: rgba(166, 198, 229, 0.95);
  }
  .Gallery {
    padding-bottom: 2em;
  }

  .hero {
    position: relative;
    height: 80vh;
    width: 100%;
    overflow: hidden;
    background-position: cover;
  }

  .overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
  }

  .hero-content {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    color: #96bdea;
  }

  .hero-title {
    font-size: 5rem;
    letter-spacing: 0.2em;
    color: #96bdea;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    font-family: "Instrument Serif", serif;
  }
  .hero-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  footer {
    margin-top: 5em;
  }
}
